@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');
@font-face {
    font-family:"Raleway";
    src: url(./police/Raleway-VariableFont_wght.ttf);

}

/* HEADER */

.header-1 {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    background-color: #782221;
    padding: 30px 0px;
    text-align: center;
    width: 1160px;
}

.img-profil {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    box-shadow:  0px 0px 6px white, 0px 0px 6px white;
    object-fit: cover;
}

.img-profil:hover {
    cursor: zoom-in;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
}

h2 {
    color: white;
    font-family: "Lato", sans-serif;
}

/* La largeur du CV est réduite pour laisser la place à la marge intérieur afin d'avoir un total de 1160px */
address {
    display: flex;
    width: 1080px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 10px 40px;
    background-color: #2c1d27;
    
}

.text-email {
    display: flex;
    padding-right: 80px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    font-family:"Raleway", serif;
}

/* HEADER */

/* MAIN */

main {
    display: flex;
    width: 1160px;
    margin: auto;

}

h3 {
    background-color: #dbc2a4;
    width: 75%;
    padding: 5px 0px ;
    font-family: "Lato", sans-serif;
    font-weight: 900;
}

.container-1 {
    background-color: #782221;
    width: 30%;
}

.container-1 li {
    font-family: "Lato",sans-serif;
    color: white;
}

.container-1 h3 {
    padding-left: 30px;
}

.container-1 p {
    color: white;
    text-indent: 25px;
    text-align: justify;
    word-spacing: -2px;
    padding: 0 0 0 20px;
    width: 75%;
    font-size: 0.9em;
}

.container-2 {
    width: 70%;
    border-right: 2px solid black;
    padding-left: 40px;
}



.container-2 h3 {
    border-left: 10px solid #782221;
    padding-right: 150px;
    padding-left: 10px;
    font-family: "Lato", sans-serif;
}

.container-2 li {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
}

h4 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

/* Les bordures a droites au survol d'une expérience professionnelle / études / formations ou des compétences */

.div-border {
    width: 500px;
}

.div-border:hover {
    border-right: 2px solid #782221;
}

.ul-border {
    width: 500px;
}

.ul-border:hover {
    border-right: 2px solid #782221;
}

/* MAIN */

/* FOOTER */
.icon {
    display: flex;
    width: 1160px;
    margin: auto;
    justify-content: center;
    padding: 25px 0;
    background-color: #782221;
}
.icone {
    width: 50px;
    height: 50px;
    padding: 0 10px;
}

.icone:hover {
    opacity: 75%;
}

.maj {
    display: flex;
    width: 1160px;
    margin: auto;
    justify-content: center;
    background-color: #782221;
    padding-bottom: 10px;
}

.maj p {
    color: white;
    font-family: "Raleway", sans-serif;
}

/* FOOTER */